{% extends 'layout.twig' %}
{% block body %}
<h1>Survey</h1>
<form method="post" action="/submit">
  {% for question in questions %}
        <h2>{{ question.content }}</h2>
        {% for answer in question.answers %}
          <div>
          {% if question.allowMultipleAnswers %}
            <input type="checkbox" name="{{question.id}}" value="{{answer.id}}"/>
          {% else %}
            <input type="radio" name="{{question.id}}" value="{{answer.id}}"/>
          {% endif %}
          <span>{{ answer.content }}</span>
                  </div>

        {% endfor %}
    {% endfor %}
    <button type="submit"> Submit</button>
</form>
{% endblock %}

