{% extends 'layout.twig' %}
{% block body %}
    <h1>Results</h1>
    <h2>Most picked answers by happy people</h2>
    {% for question in happyAnswers %}
        <div>{{ question.question }} => {{question.answers}}</div>
    {% endfor %}
    <h2>Most picked answers by sad people</h2>
    {% for question in sadAnswers %}
        <div>{{ question.question }} => {{question.answers}}</div>
    {% endfor %}

{% endblock %}



